<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662392717121-m8phsbgpma90kerm8tc16oqqcuqk1qsm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662392717121-m8phsbgpma90kerm8tc16oqqcuqk1qsm</string>
	<key>API_KEY</key>
	<string>AIzaSyBEZMpx7RRxu-Yd7nLaKE01mDIrhpP_ZUc</string>
	<key>GCM_SENDER_ID</key>
	<string>662392717121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.passcoder.ios</string>
	<key>PROJECT_ID</key>
	<string>passcoder-identity</string>
	<key>STORAGE_BUCKET</key>
	<string>passcoder-identity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662392717121:ios:cb7f90df0fc3b2d5b0ebc0</string>
</dict>
</plist>